<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to text analyzer. Enter your text below</h1>
    <form action="/analyze" method="POST" >{% csrf_token %}
        <textarea name="text" cols="30" rows="10" style="width: 70vw;"></textarea><br>
        <ul>
            <li><input type="checkbox" group="action" name="removepunc">Remove Punchuations</li>
            <li><input type="checkbox" group="action" name="fullcaps">Full Caps</li>
            <li><input type="checkbox" group="action" name="newlineremover">Newline Remover</li>
            <li><input type="checkbox" group="action" name="spaceremover">Extra Space Remover</li>
        </ul>
        <button type="submit">Analyze  Text</button>
    </form>
</body>
</html>